<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <!-- 開発環境用 -->
  <appender class="org.apache.log4j.ConsoleAppender" name="STDOUT">
    <param name="Target" value="System.out" />
    <param name="ImmediateFlush" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS}&lt;user&gt; %-5p[%t] %F(%L) %m%n" />
    </layout>
  </appender>
  <logger name="cynipe" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="STDOUT" />
  </logger>
  <root>
    <priority value="WARN" />
    <appender-ref ref="STDOUT" />
  </root>
</log4j:configuration>