<configuration>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/${project.artifactId}.log</file>
    <encoder>
      <pattern>[%-4level] %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${project.artifactId}.%d{yyyy_MM_dd}.log</fileNamePattern>
      <maxHistory>10</maxHistory>
    </rollingPolicy>
  </appender>
  <root>
    <level value="INFO" />
    <appender-ref ref="FILE" />
  </root>
</configuration>
